

button {
    background-color: rgb(105, 189, 214);
    border: none;
    border-radius: 10%;
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
}

button:hover {
    background-color: rgb(67, 103, 182);
    color: white;
    cursor: pointer;
}
